*{
		/*CSS reset*/
	margin: 0;
	padding: 0;

		/*box-sizing - determines the computed dimensions of a box.
			(without box-sizing the browser will use the default method of computating)

			for div1; 2pxlb/tp+20px*lp/tp+100px w/height+20px*/
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

#div1{
		/*1. margin - space outside the element - space outside the border.
		  2. padding- space between the content box*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#div2{
	/*margin: 25px 100px;*/
	/*margin: 10px 70px 50px;*/
	/*margin: 100px 10px 15px 50px;*/

	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;

		/*aligned the element to the top of the box.*/
	vertical-align: top;
}

#span1{

			/*absence of padding will cause the browser to start measuring the dimensions of the element from top
			-most and left-most portion of the element.*/
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
	padding: 20px;
}


#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}