*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: "Verdana", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

		/*Multiple Selectors*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

		/*Intro Section*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;

}

#intro button{
	color: white;

		/*font-weight - declares the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-bottom: .5rem;
	padding: 5px;

		/*Min-height*/
	min-height: 180px;
}

#info h3{
	margin-bottom: 1rem;

}

#pre-footer{
	background-color: #001021;
	color: white;
}
#pre-footer>div{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-left: .5rem;
	margin-bottom: .5rem;
	padding: 10px;
	min-height: 150px;
}

#pre-footer h3{
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#pre-footer>div>p{
	padding: 5px;
}

#footer{
	margin-bottom: 1rem;
	margin-top: 1rem;
}
#footer span{
	padding-left: 20px;
}